body {
  background-color: #ff6e6c;
  color: #232323;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "width" 100;
}

#home-table,
#about-table {
  border: 4px solid black;
  border-radius: 50px;
  padding: 5rem;
  border-collapse: collapse;
}

.home-table-element {
  border: 1px solid black;
  padding: 2rem;
  border-collapse: collapse;
  font-size: 1rem;
  flex-basis: auto;
}

.table-image {
  width: 300px;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 0;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: font-size 2s;
}

.navLink:hover {
  font-size: 1.5rem;
}

.about-table-element {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
