body {
  background-color: #ff6e6c;
  color: #232323;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

h1 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "width" 100;
}

#home-table {
  border: 4px solid black;
  border-radius: 50px;
  padding: 5rem;
  border-collapse: collapse;
}

.home-table-element {
  border: 1px solid black;
  padding: 2rem;
  border-collapse: collapse;
}
