<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav id="navbar">
      <a href="/pages/arcadePage.html" class="navLink" target="_parent"
        >Arcade Games</a
      >
      <a href="/fighting.html" class="navLink" target="_parent"
        >Fighting Games</a
      >
      <a href="/pages/fpsPage.html" class="navLink" target="_parent"
        >First Person Shooters</a
      >
      <a href="/pages/sportsPage.html" class="navLink" target="_parent"
        >Sports Games</a
      >
      <a href="/platformers.html" class="navLink" target="_parent"
        >Platformers</a
      >
      <a href="/pages/aboutUsPage.html" class="navLink" target="_parent"
        >About Us</a
      >
    </nav>
  </body>
</html>
